.linksContainer {
  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;
  margin: 10px;
  width: 191px;
}

.button {
  margin: 1px;
  height: 50px;
  width: 60px;
}

.headerMain {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.centerHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1000px;
  justify-items: center;
  height: 110px;
}

.centerHeader img {
  width: 300px;
}

.socialIcons {
  width: 195px;
}

.socialIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.socialIcons img {
  height: 30px;
  width: 30px;
}
