.mainLayout {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 70vh;
}

.centerLayout {
  
  display: flex;
  background-color: grey;
  width: 70%;
  justify-content: center;
  background-image: url("./assets/marvel.jpg");
}

.postImg {
  height: 100px;
  width: 100px;
}

.postMain {
  display: flex;
  flex-wrap: wrap;
}
